body, html{
    height: 100%;
    margin: 0px
}
body{
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.container{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    background-color: rgba(230, 240, 252, 0.514);
    padding: 20px;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    margin-left: auto;
    border: none;
    box-shadow: 0 0 1em rgba(60, 72, 240, 0.692);
    line-height: 1.5;
    
}
#adults{
    display: block;
    margin: none;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border:none;
    
}
#childrens{
    display: block;
    margin: none;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border:none;
}
#hours{
    display: block;
    margin: none;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border:none;
}
#calculateButton{
    display: block;
    margin: none;
    position: left;
}
input:focus {
    outline: none;
}
h1{
    margin-top: 0;
}
button{
    display: inline;
    margin: none;
    
}
button:hover{
    cursor: pointer;
    
}
#check{
    display: inline-block;
}
#checkText{
    display: inline-block;
}
