.container{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    background-color: rgb(230, 240, 252);
    padding: 20px;
    margin: auto;
    border-radius: 3%;
}
#adults{
    display: block;
    margin: none;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border:none;
}
#childrens{
    display: block;
    margin: none;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border:none;
}
#hours{
    display: block;
    margin: none;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border:none;
}
#calculateButton{
    display: block;
    margin: none;
    position: left;
}
input:focus {
    outline: none;
}
h1{
    margin-top: 0;
}
button{
    margin: auto;
}
button:hover{
    cursor: pointer;
    
}
#check{
    display: inline-block;
}
#checkText{
    display: inline-block;
}